<div class="p-4 rounded bg-light" style="height: 230px;">
    <div class="row">
        <div class="col-6 align-self-center">
            <a href="/shop/{{ id }}">
                <img src="{{imagePath}}" class="img-fluid rounded-circle"
                    style="height: 150px; width: 150px; object-fit: cover" alt="{{name}}">
            </a>
        </div>
        <div class="col-6 d-flex flex-column" style="height: 190px;">
            <a href="/shop/{{ id }}" class="h5">{{name}}</a>
            <div class="mt-auto">
                {{#if isInLibrary}}
                <div class="d-flex flex-column ">
                    <p class="mb-3">{{summary}}</p>
                </div>
                <a href="/users/download/{{ id }}" class="btn border border-secondary rounded-pill px-3 text-primary">
                    <i class="fa fa-download me-2 text-primary"></i> Download
                </a>
                {{else}}
                {{{ createStarList stars }}}
                <div class="d-flex justify-content-around">
                    <h4 class="mb-3">{{price}} $</h4>
                    <h5 class="mb-3 text-decoration-line-through text-muted">{{oldPrice}} $</h4>
                </div>
                {{#if isPurchased}}
                <a class="btn border rounded-pill px-3 text-muted"><i class="fa fa-check me-2 text-muted"></i>
                    Purchased</a>
                {{else}}
                <a onclick="addCart({{ id }}, 1)" class="btn border border-secondary rounded-pill px-3 text-primary">
                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                </a>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>