<div class="d-flex flex-column border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <a href="/shop/{{ id }}">
            <img src="{{imagePath}}" class="img-fluid w-100 rounded-top" alt="{{name}}">
        </a>
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
        <div class="d-flex align-items-center">
            {{stars}} <i class="fas fa-star text-white ms-1"></i>
        </div>
    </div>
    <div class="p-4">
        <a href="/shop/{{ id }}">
            <h4>{{name}}</h4>
        </a>
        <p>{{summary}}</p>
    </div>
    <div class="p-4 pt-0 mt-auto rounded-bottom">
        <div class="d-flex justify-content-around flex-lg-wrap mb-4">
            <p class="text-dark fs-3 fw-bold mb-0">${{price}}</p>
            <p class="text-muted fs-5 fw-bold mb-0 text-decoration-line-through">${{oldPrice}}</p>
        </div>
        <div class="d-flex justify-content-end flex-lg-wrap">
            <a onclick="addCart({{ id }}, 1)" class="btn border border-secondary rounded-pill px-3 text-primary">
                <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
            </a>
        </div>
    </div>

</div>