<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">My Account</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">My Account</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid py-5">
        <div class="container py-5" style="max-width: 1140px;">
            <div class="row g-4">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"
                        style="align-items: flex-start;">
                        <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>
                        <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                        <a class="nav-link" id="personal-details-nav" data-toggle="pill"
                            href="#personal-details-tab" role="tab">Personal Details</a>
                        <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account
                            Details</a>
                        <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment
                            Method</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <!-- Dashboard Section Start -->
                        <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                            <h3>Dashboard</h3>
                            <h4 class="mt-3">This Year</h4>
                            <div class="row">
                                <div class="p-2 px-3 mt-3 col-md-3">
                                    <div class="bg-primary rounded p-3">
                                        <p class="fs-2 mb-0 text-white" id="totalExpenses">0.00$</p>
                                        <p class="text-light mb-2">Total Expenses</p>
                                    </div>
                                    <div class="bg-primary rounded p-3 mt-3">
                                        <p class="fs-2 mb-0 text-white" id="totalOrders">0</p>
                                        <p class="text-light mb-2">Total Orders</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <canvas id="expenseChart"></canvas>
                                </div>
                            </div>
                            <h4 class="mt-3">Favourite</h4>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <h5>Categories</h5>
                                    <canvas id="categoriesChart"></canvas>
                                </div>
                                <div class="col-md-4">
                                    <h5>Brands</h5>
                                    <canvas id="brandsChart"></canvas>
                                </div>
                                <div class="col-md-4">
                                    <h5>Tags</h5>
                                    <canvas id="tagsChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- Dashboard Section End -->

                        <!-- Orders Section Start -->
                        <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                            <h3>Orders</h3>
                            <div class="mt-3">
                                <input type="text" id="searchBar" class="form-control" placeholder="Search for a product...">
                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>No</th>
                                            <th>Date</th>
                                            <th>Method</th>
                                            <th>Status</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ordersTableBody">                                        
                                        {{#each orders}}
                                        <tr class="order-row" data-order-id="{{@index}}">
                                            <td><p class="fw-bold mb-0">{{increment @index}}</p></td>
                                            <td>{{formattedUpdatedAt}}</td>
                                            <td>{{paymentMethod}}</td>
                                            <td>{{status}}</td>
                                            <td>{{quantity}}</td>
                                            <td>${{total}}</td>
                                            <td><button class="btn btn-primary border-secondary text-white" onclick="toggleDetails({{@index}})">View</button></td>
                                        </tr>
                                        <tr id="details-{{@index}}" class="order-details" style="display:none;">
                                            <td colspan="7">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th>No</th>
                                                                <th>Image</th>
                                                                <th>Name</th>
                                                                <th>Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each Products}}
                                                            <tr class="product-row">
                                                                <td><p class="fw-bold mb-0">{{increment @index}}</p></td>
                                                                <td><a href="/shop/{{ id }}"><img src="{{imagePath}}" alt="{{name}}" class="img-fluid" style="height:100px;"></a></td>
                                                                <td><a href="/shop/{{ id }}">{{name}}</a></td>
                                                                <td>${{price}}</td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="3">Subtotal</td>
                                                                <td>${{subtotal}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Discount</td>
                                                                <td>-${{discount}}</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Orders Section End -->

                        <!-- Personal Details Section Start -->
                        <div class="tab-pane fade" id="personal-details-tab" role="tabpanel"
                            aria-labelledby="personal-details-nav">
                            <h3>Personal Details</h3>
                            {{#if personalMessage}}
                            <div class="col-md-12">
                                <div class="mt-3 mb-0 py-2 px-3 alert alert-warning">{{{personalMessage}}}</div>
                            </div>
                            {{/if}}
                            {{#with user}}
                            <form action="/users/personal?_method=PUT" method="POST" class="row g-4 mt-1">
                                <div class="col-md-6">
                                    <label for="first-name" class="form-label h5">First Name</label>
                                    <input type="text" class="form-control" id="first-name" name="firstName"
                                        value="{{firstName}}" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="last-name" class="form-label h5">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" name="lastName"
                                        value="{{lastName}}" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="mobile" class="form-label h5">Mobile</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" value="{{mobile}}"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label h5">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{email}}"
                                        readonly>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit"
                                    class="btn border-secondary py-3 px-4 text-uppercase text-primary">Update</button>
                                </div>
                            </form>
                            {{/with}}
                        </div>
                        <!-- Personal Details Section End -->

                        <!-- Account Details Section Start -->
                        <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                            <h3>Account Details</h3>
                            {{#if passwordMessage}}
                            <div class="col-md-12">
                                <div class="mt-3 mb-0 py-2 px-3 alert alert-warning">{{{passwordMessage}}}</div>
                            </div>
                            {{/if}}
                            <form action="/users/password?_method=PUT" method="POST" class="row g-4 mt-1" id="formChangePassword">
                                <div class="col-md-12">
                                    <label for="current-password" class="form-label h5">Current Password</label>
                                    <input type="password" class="form-control" id="current-password" name="currentPassword"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label for="new-password" class="form-label h5">New Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                                    onchange="checkPasswordConfirm('formChangePassword')">
                                </div>
                                <div class="col-md-6">
                                    <label for="confirm-password" class="form-label h5">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm-password"
                                        name="confirmPassword" required onkeyup="checkPasswordConfirm('formChangePassword')">
                                </div>
                                <div class="col-md-12">
                                    <button type="submit"
                                    class="btn border-secondary py-3 px-4 text-uppercase text-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- Account Details Section End -->

                        <!-- Payment Method Section Start -->
                        <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                            <h3>Payment Method</h3>
                            <form action="/update-payment" method="POST" class="row g-4 mt-1">
                                <div class="col-md-12">
                                    <label for="card-number" class="form-label h5">Card Number</label>
                                    <input type="text" class="form-control" id="card-number" name="card-number"
                                        value="{{cardNumber}}" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="card-expiry" class="form-label h5">Expiry Date</label>
                                    <input type="text" class="form-control" id="card-expiry" name="card-expiry"
                                        value="{{cardExpiry}}" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="card-cvv" class="form-label h5">CVV</label>
                                    <input type="text" class="form-control" id="card-cvv" name="card-cvv"
                                        value="{{cardCVV}}" required>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit"
                                    class="btn border-secondary py-3 px-4 text-uppercase text-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- Payment Method Section End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script>
const searchBar = document.getElementById('searchBar');
const ordersTableBody = document.getElementById('ordersTableBody');

searchBar.addEventListener('input', function() {
    const searchTerm = searchBar.value.toLowerCase();
    const orderRows = ordersTableBody.getElementsByClassName('order-row');

    if (searchTerm.trim() === '') {
        Array.from(orderRows).forEach(row => {
            row.style.display = '';
            const detailsRow = row.nextElementSibling;
            detailsRow.style.display = 'none';
        });
    } else {
        Array.from(orderRows).forEach(row => {
            const detailsRow = row.nextElementSibling;
            const productRows = detailsRow.getElementsByClassName('product-row');
            let isOrderVisible = false;

            Array.from(productRows).forEach(productRow => {
                const productName = productRow.children[2].textContent.toLowerCase();
                if (productName.includes(searchTerm)) {
                    isOrderVisible = true;
                }
            });

            row.style.display = isOrderVisible ? '' : 'none';
            detailsRow.style.display = isOrderVisible ? 'table-row' : 'none'; 
        });
    }
});

function toggleDetails(orderId) {
    var detailsRow = document.getElementById('details-' + orderId);
    if (detailsRow.style.display === 'none') {
        detailsRow.style.display = 'table-row';
    } else {
        detailsRow.style.display = 'none';
    }
}

const activeTab = localStorage.getItem('activeTab');
if (activeTab) {
    const tabLink = document.querySelector(`a[href="${activeTab}"]`);
    if (tabLink) {
        $(tabLink).tab('show');
    }
}

document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', function() {
        localStorage.setItem('activeTab', this.getAttribute('href'));
    });
});

const ctx = document.getElementById('expenseChart');
const expensePerMonth = JSON.parse('{{{expensePerMonth}}}');
const currentYear = new Date().getFullYear();
const thisYearExpense = expensePerMonth[currentYear] || {};
const months = Object.keys(thisYearExpense);
const expenses = Object.values(thisYearExpense);

const orderPerMonth = JSON.parse('{{{orderPerMonth}}}');
const thisYearOrder = orderPerMonth[currentYear] || {};
const orders = Object.values(thisYearOrder);

const totalExpense = expenses.reduce((a, b) => a + b, 0).toFixed(2);
document.getElementById('totalExpenses').innerHTML = `${totalExpense || 0}$`;

const totalOrder = orders.reduce((a, b) => a + b, 0);
document.getElementById('totalOrders').innerHTML = `${totalOrder || 0}`;

new Chart(ctx, {
    type: 'line',
    data: {
        labels: months,
        datasets: [{
            label: 'Monthly Expenses',
            data: expenses,
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                beginAtZero: true
            },
            y: {
                beginAtZero: true
            }
        }
    }
});

function createPieChart(ctx, data, labels, title) {
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: title,
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 
                    'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 
                    'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 
                    'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 
                    'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
        }
    });
}

const ctxCategories = document.getElementById('categoriesChart').getContext('2d');
const ctxBrands = document.getElementById('brandsChart').getContext('2d');
const ctxTags = document.getElementById('tagsChart').getContext('2d');

const categoriesCount = JSON.parse('{{{categoriesCount}}}');
const brandsCount = JSON.parse('{{{brandsCount}}}');
const tagsCount = JSON.parse('{{{tagsCount}}}');

const categoriesData = Object.values(categoriesCount);
const categoriesLabels = Object.keys(categoriesCount);

const brandsData = Object.values(brandsCount);
const brandsLabels = Object.keys(brandsCount);

const tagsData = Object.values(tagsCount);
const tagsLabels = Object.keys(tagsCount);

createPieChart(ctxCategories, categoriesData, categoriesLabels, 'Categories');
createPieChart(ctxBrands, brandsData, brandsLabels, 'Brands');
createPieChart(ctxTags, tagsData, tagsLabels, 'Tags');

</script>