<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Admin</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Admin</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Admin Start -->
<div class="my-account">
    <div class="container-fluid py-5">
        <div class="container py-5" style="max-width: 1140px;">
            <div class="row g-4">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"
                        style="align-items: flex-start;">
                        <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>
                        <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                        <a class="nav-link" id="users-nav" data-toggle="pill" href="#users-tab" role="tab">Users</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <!-- Dashboard Section Start -->
                        <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                            <h3>Dashboard</h3>
                            <h4 class="mt-3">This Year</h4>
                            <div class="row">
                                <div class="p-2 px-3 col-md-3">
                                    <div class="bg-primary rounded p-3 py-2">
                                        <p class="fs-2 mb-0 text-white" id="totalExpenses">0.00$</p>
                                        <p class="fs-6 mb-0 text-success" id="expenseChangeRate">0.00% <i class="fas fa-arrow-up"></i></p>
                                        <p class="text-light mb-2">Total Revenue</p>
                                    </div>
                                    <div class="bg-primary rounded p-3 py-2 mt-3">
                                        <p class="fs-2 mb-0 text-white" id="totalOrders">0</p>
                                        <p class="fs-6 mb-0 text-success" id="orderChangeRate">0.00% <i class="fas fa-arrow-up"></i></p>
                                        <p class="text-light mb-2">Total Orders</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <canvas id="expenseChart"></canvas>
                                </div>
                            </div>
                            <h4 class="mt-3">Favourite</h4>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <h5>Categories</h5>
                                    <canvas id="categoriesChart"></canvas>
                                </div>
                                <div class="col-md-4">
                                    <h5>Brands</h5>
                                    <canvas id="brandsChart"></canvas>
                                </div>
                                <div class="col-md-4">
                                    <h5>Tags</h5>
                                    <canvas id="tagsChart"></canvas>
                                </div>
                            </div>
                            <div class="mt-4 row">
                                <div class="col-md-6">
                                    <h4 class="mt-4">Top Users</h4>
                                    <div>
                                        <canvas id="topUsersChart"></canvas>
                                    </div>
                                    <div class="bg-primary rounded p-3 py-2 mt-3">
                                        <p class="fs-2 mb-0 text-white">{{totalUsers}}</p>
                                        <p class="text-light mb-2">Current Users</p>
                                    </div>
                                    <div class="bg-primary rounded p-3 py-2 mt-3">
                                        <p class="fs-2 mb-0 text-white">{{totalProducts}}</p>
                                        <p class="text-light mb-2">Current Products</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mt-4">Top Products</h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Name</th>
                                                    <th>Stars</th>
                                                    <th>Sold</th>
                                                </tr>
                                            </thead>
                                            <tbody id="topProductsTableBody">
                                                {{#each topProducts}}
                                                <tr>
                                                    <td><a href="/shop/{{ id }}"><img src="{{imagePath}}" alt="{{name}}" class="img-fluid" style="height:50px;"></a></td>
                                                    <td><a href="/shop/{{ id }}">{{name}}</a></td>
                                                    <td>{{stars}}</td>
                                                    <td>{{count}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dashboard Section End -->

                        <!-- Orders Section Start -->
                        <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                            <h3>Orders</h3>
                            <div class="mt-3">
                                <input type="text" id="searchBar" class="form-control" placeholder="Search for a product...">
                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>OrdID</th>
                                            <th>Date</th>
                                            <th>UserID</th>
                                            <th>Method</th>
                                            <th>Status</th>
                                            <th>Quant</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ordersTableBody">                                        
                                        {{#each orders}}
                                        <tr class="order-row" data-order-id="{{id}}">
                                            <td><p class="fw-bold mb-0">{{id}}</p></td>
                                            <td>{{formattedUpdatedAt}}</td>
                                            <td>{{User.id}}</td>
                                            <td>{{paymentMethod}}</td>
                                            <td>{{status}}</td>
                                            <td>{{quantity}}</td>
                                            <td>${{total}}</td>
                                            <td>
                                                <button class="btn btn-primary border-secondary text-white" onclick="toggleDetails({{@index}})">View</button>
                                                <button class="btn btn-primary border-secondary text-white" onclick="updateOrderStatus({{{id}}}, 'PAID')">Done</button>
                                            </td>
                                        </tr>
                                        <tr id="details-{{@index}}" class="order-details" style="display:none;">
                                            <td colspan="8">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th>No</th>
                                                                <th>Image</th>
                                                                <th>Name</th>
                                                                <th>Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each Products}}
                                                            <tr class="product-row">
                                                                <td><p class="fw-bold mb-0">{{increment @index}}</p></td>
                                                                <td><a href="/shop/{{ id }}"><img src="{{imagePath}}" alt="{{name}}" class="img-fluid" style="height:100px;"></a></td>
                                                                <td><a href="/shop/{{ id }}">{{name}}</a></td>
                                                                <td>${{price}}</td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="3">Subtotal</td>
                                                                <td>${{subtotal}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Discount</td>
                                                                <td>-${{discount}}</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Orders Section End -->

                        <!-- Users Section Start -->
                        <div class="tab-pane fade" id="users-tab" role="tabpanel" aria-labelledby="users-nav">
                            <h3>Users</h3>
                            <div class="mt-3">
                                <input type="text" id="" class="form-control" placeholder="Search for a user...">
                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>UserID</th>
                                            <th>Email</th>
                                            <th>FName</th>
                                            <th>LName</th>
                                            <th>Mobile</th>
                                            <th>Admin</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="usersTableBody">                                        
                                        {{#each users}}
                                        <tr class="order-row" data-user-id="{{@index}}">
                                            <td><p class="fw-bold mb-0">{{id}}</p></td>
                                            <td>{{email}}</td>
                                            <td>{{firstName}}</td>
                                            <td>{{lastName}}</td>
                                            <td>{{mobile}}</td>
                                            <td>{{isAdmin}}</td>
                                            <td><button class="btn btn-primary border-secondary text-white" onclick="">Authorize</button></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Users Section End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script>
const searchBar = document.getElementById('searchBar');
const ordersTableBody = document.getElementById('ordersTableBody');

searchBar.addEventListener('input', function() {
    const searchTerm = searchBar.value.toLowerCase();
    const orderRows = ordersTableBody.getElementsByClassName('order-row');

    if (searchTerm.trim() === '') {
        Array.from(orderRows).forEach(row => {
            row.style.display = '';
            const detailsRow = row.nextElementSibling;
            detailsRow.style.display = 'none';
        });
    } else {
        Array.from(orderRows).forEach(row => {
            const detailsRow = row.nextElementSibling;
            const productRows = detailsRow.getElementsByClassName('product-row');
            let isOrderVisible = false;

            Array.from(productRows).forEach(productRow => {
                const productName = productRow.children[2].textContent.toLowerCase();
                if (productName.includes(searchTerm)) {
                    isOrderVisible = true;
                }
            });

            row.style.display = isOrderVisible ? '' : 'none';
            detailsRow.style.display = isOrderVisible ? 'table-row' : 'none'; 
        });
    }
});

function toggleDetails(orderId) {
    var detailsRow = document.getElementById('details-' + orderId);
    if (detailsRow.style.display === 'none') {
        detailsRow.style.display = 'table-row';
    } else {
        detailsRow.style.display = 'none';
    }
}

const activeTab = localStorage.getItem('activeTab');
if (activeTab) {
    const tabLink = document.querySelector(`a[href="${activeTab}"]`);
    if (tabLink) {
        $(tabLink).tab('show');
    }
}

document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', function() {
        localStorage.setItem('activeTab', this.getAttribute('href'));
    });
});

const ctx = document.getElementById('expenseChart');
const currentYear = new Date().getFullYear();
const previousYear = currentYear - 1;

const expensePerMonth = JSON.parse('{{{expensePerMonth}}}');
const orderPerMonth = JSON.parse('{{{orderPerMonth}}}');

const calculateTotalsAndChange = (thisYearData, lastYearData) => {
    const thisYearValues = Object.values(thisYearData || {});
    const lastYearValues = Object.values(lastYearData || {});
    const totalThisYear = thisYearValues.reduce((a, b) => a + b, 0).toFixed(2);
    const totalLastYear = lastYearValues.reduce((a, b) => a + b, 0).toFixed(2);
    const percentChange = totalLastYear > 0 ? ((totalThisYear - totalLastYear) / totalLastYear) * 100 : 0;
    return { totalThisYear, totalLastYear, percentChange };
};

const { totalThisYear: totalExpenseThisYear, percentChange: percentChangeExpense } = calculateTotalsAndChange(expensePerMonth[currentYear], expensePerMonth[previousYear]);
const { totalThisYear: totalOrderThisYear, percentChange: percentChangeOrder } = calculateTotalsAndChange(orderPerMonth[currentYear], orderPerMonth[previousYear]);

const updateTrend = (elementId, total, percentChange) => {
    const trendClass = percentChange > 0 ? 'text-success' : 'text-danger';
    const trendIcon = percentChange > 0 ? 'fa-arrow-up' : 'fa-arrow-down';
    const trendText = percentChange > 0 ? `+${percentChange.toFixed(2)}%` : `${percentChange.toFixed(2)}%`;
    document.getElementById(elementId).innerHTML = `<span class="${trendClass}">${trendText} <i class="fas ${trendIcon}"></i></span>`;
};

document.getElementById('totalExpenses').innerHTML = `${totalExpenseThisYear}$`;
updateTrend('expenseChangeRate', totalExpenseThisYear, percentChangeExpense);

document.getElementById('totalOrders').innerHTML = `${totalOrderThisYear}`;
updateTrend('orderChangeRate', totalOrderThisYear, percentChangeOrder);

const months = Object.keys(expensePerMonth[currentYear] || {});
const thisYearExpenses = Object.values(expensePerMonth[currentYear] || {});
const lastYearExpenses = Object.values(expensePerMonth[previousYear] || {});

new Chart(ctx, {
    type: 'line',
    data: {
        labels: months,
        datasets: [
            {
                label: `Monthly Revenue ${currentYear}`,
                data: thisYearExpenses,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderWidth: 1,
                fill: true
            },
            {
                label: `Monthly Revenue ${previousYear}`,
                data: lastYearExpenses,
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderWidth: 1,
                fill: true
            }
        ]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                beginAtZero: true
            },
            y: {
                beginAtZero: true
            }
        }
    }
});

function createPieChart(ctx, data, labels, title) {
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: title,
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 
                    'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 
                    'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 
                    'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 
                    'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
        }
    });
}

const ctxCategories = document.getElementById('categoriesChart').getContext('2d');
const ctxBrands = document.getElementById('brandsChart').getContext('2d');
const ctxTags = document.getElementById('tagsChart').getContext('2d');

const categoriesCount = JSON.parse('{{{categoriesCount}}}');
const brandsCount = JSON.parse('{{{brandsCount}}}');
const tagsCount = JSON.parse('{{{tagsCount}}}');

const categoriesData = Object.values(categoriesCount);
const categoriesLabels = Object.keys(categoriesCount);

const brandsData = Object.values(brandsCount);
const brandsLabels = Object.keys(brandsCount);

const tagsData = Object.values(tagsCount);
const tagsLabels = Object.keys(tagsCount);

createPieChart(ctxCategories, categoriesData, categoriesLabels, 'Categories');
createPieChart(ctxBrands, brandsData, brandsLabels, 'Brands');
createPieChart(ctxTags, tagsData, tagsLabels, 'Tags');

const ctxUsers = document.getElementById('topUsersChart').getContext('2d');
const topUsers = JSON.parse('{{{topUsers}}}');

const usersLabels = Object.keys(topUsers).sort((a, b) => b.total - a.total).slice(0, 5);
const userTotalData = usersLabels.map(user => topUsers[user].total.toFixed(2));
const userCountData = usersLabels.map(user => topUsers[user].count);

new Chart(ctxUsers, {
    type: 'bar',
    data: {
        labels: usersLabels,
        datasets: [{
            label: 'Total Amount Spent',
            data: userTotalData,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            yAxisID: 'y-axis-total'
        }, {
            label: 'Number of Orders',
            data: userCountData,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            yAxisID: 'y-axis-count'
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            'y-axis-total': {
                type: 'linear',
                position: 'left',
                beginAtZero: true
            },
            'y-axis-count': {
                type: 'linear',
                position: 'right',
                beginAtZero: true,
                grid: {
                    drawOnChartArea: false
                }
            }
        }
    }
});

</script>