<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Cart Page Start -->
{{#with cart}}
<div class="container-fluid py-5">
    <div class="container py-5">

        <div class="row g-4">
            <div class="col-sm-12 col-lg-8 cart-info">
                {{#if items.length}}

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Products</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Move to wishlist</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each items}}

                            <tr id="product{{ product.id }}">
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <a href="/shop/{{ product.id }}">
                                            <img src="{{ product.imagePath }}" class="img-fluid me-5 rounded-circle"
                                                style="width: 80px; height: 80px;" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                </th>
                                <td>
                                    <a href="/shop/{{ product.id }}" class="btn-link"><p class="mb-0 mt-4">{{ product.name }}</p></a>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">{{ product.price }}</p>
                                </td>
                                <td>
                                    <a href="#"
                                        class="btn border border-secondary rounded-pill px-4 py-2 mt-3 text-primary"><i
                                            class="fa fa-heart  text-primary"></i> Move</a>
                                </td>
                                <td>
                                    <button onClick="removeCart({{ product.id }})" class="btn btn-md rounded-circle bg-light border mt-3">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </td>
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>

                    <div class="mt-2 d-flex justify-content-between">
                        <div>
                            <input type="text" class="border-0 border-bottom rounded me-5 py-3 ps-3" placeholder="Coupon Code">
                            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
                        </div>
                        <div class="mt-2 me-4 align-content-center">
                            <button onClick="clearCart()" class="btn btn-danger border-secondary rounded-pill px-3 py-2" type="button">Clear Cart</button>
                        </div>
                    </div>
                </div>

                {{else}}

                <div class="text-center border py-3 rounded align-content-center">
                    <h3>Your cart is empty!</h3>
                </div>

                {{/if}}
            </div>

            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Subtotal</h5>
                            <p class="mb-0" id="subtotal">${{ subtotal }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Discount</h5>
                            <div class="">
                                <p class="mb-0">${{ discount }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4" id="total">${{ total }}</p>
                    </div>
                    <a href="/checkout"
                        class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                        type="button">Proceed Checkout</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{{/with}}
<!-- Cart Page End -->