<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <form action="/users/placeorders" method="post">
            <div class="row g-5">
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <h1 class="mb-4">Billing details</h1>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Transfer-1"
                                    name="payment" value="DBT">
                                <label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
                            </div>
                            <p class="text-start text-dark">Make your payment directly into our bank account. Please use
                                your Order ID as the payment reference. Your order will not be completed until the funds
                                have cleared in our account.</p>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1"
                                    name="payment" value="PAYPAL">
                                <label class="form-check-label" for="Paypal-1">Paypal</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-end pt-4">
                        <div class="col-4">
                            <button type="submit"
                                class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place
                                Order</button>
                        </div>
                    </div>

                    <div id="paypal-button-container"></div>
                    <p id="result-message"></p>

                </div>
                <div class="col-md-12 col-lg-5 col-xl-5">
                    {{#with cart}}
                    <div class="">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">Order <span class="fw-normal">Summary</span></h1>
                                {{#each items}}
                                <div class="d-flex justify-content-between {{#unless @last}}mb-4{{/unless}}">
                                    <h5 class="mb-0 me-4">{{product.name}}</h5>
                                    <p class="mb-0">${{product.price}}</p>
                                </div>
                                {{/each}}
                            </div>
                            <div class="py-4 border-top d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Sutotal</h5>
                                <p class="mb-0 pe-4">${{subtotal}}</p>
                            </div>
                            <div class="pb-4 d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Discount</h5>
                                <p class="mb-0 pe-4">${{discount}}</p>
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h4 class="mb-0 ps-4 me-4">Total</h4>
                                <h4 class="mb-0 pe-4">${{total}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->