<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Reset Password</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Reset Password</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Reset Password Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                {{#if done}}
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Reset Password</h1>
                        <p class="py-3 alert alert-success">Your password has been updated. You can now <a
                                class="text-info" href="/users/login-sign-up">Login</a> using your new password.</p>
                    </div>
                </div>
                {{else}}
                {{#if expired}}
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Reset Password</h1>
                        <p class="py-3 alert alert-warning">Your link has expired.</p>
                    </div>
                </div>
                {{else}}
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Reset Password</h1>
                        <p class="mb-4">Enter your new password here.</p>
                    </div>
                </div>
                <div class="col-6 mx-auto">
                    <form action="/users/reset" method="post" id="formReset">
                        {{#if message}}
                        <div class="col-md-12">
                            <div class="p-3 mt-3 alert alert-warning">{{{message}}}</div>
                        </div>
                        {{/if}}
                        <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="New password"
                            name="password" required pattern=".{8,}" title="Eight or more characters"
                            onchange="checkPasswordConfirm('formReset')">
                        <input type="password" class="w-100 form-control border-0 py-3 mb-4"
                            placeholder="Confirm new password" name="confirmPassword" required pattern=".{8,}"
                            title="Eight or more characters" onkeyup="checkPasswordConfirm('formReset')">
                        <button class="w-100 btn form-control border-secondary py-3 mb-3 bg-white text-primary"
                            type="submit">Submit</button>
                        <input type="hidden" name="reqUrl" value="{{reqUrl}}">
                        <input type="hidden" name="email" value="{{email}}">
                        <input type="hidden" name="token" value="{{token}}">
                    </form>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
<!-- Reset Password End -->