<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop Detail</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop Detail</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    {{#with product}}
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <div class="image">
                                <div class="owl-carousel image-carousel justify-content-center">
                                    {{#each Images}}
                                    <div class="">
                                        <img src="{{ imagePath }}" class="img-fluid rounded" alt="{{ name }}">
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{ name }}</h4>
                        <div class="mb-4">
                            {{#each Tags}}
                            <a class="btn-link btn-light rounded p-1 px-2 m-1" href='/shop?tag={{id}}'>{{name}}</a>
                            {{/each}}
                        </div>
                        <div class="d-flex mb-2 justify-content-around" style="width: 200px;">
                            <h5 class="fw-bold fs-3 mb-3 text-danger">{{ price }} $</h5>
                            <h5 class="fw-bold fs-5 mb-3 text-decoration-line-through">{{ oldPrice }} $</h5>
                        </div>
                        {{{ createStarList stars }}}
                        <p class="mb-4">{{ summary }}</p>
                        <a onclick="addCart({{ id }}, 1)"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 me-2 text-primary"><i
                                class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        <a onclick="addWishlist({{ id }})"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 mx-2 text-primary"><i
                                class="fa fa-heart me-2 text-primary"></i> Add to wishlist</a>
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Description</button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                    id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                    aria-controls="nav-mission" aria-selected="false">Reviews
                                    ({{Reviews.length}})</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>{{ description }}</p>
                                {{{createSpecTable specification}}}
                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                {{#each Reviews}}
                                <div class="d-flex">
                                    <img src="/img/avatar.jpg" class="img-fluid rounded-circle p-3"
                                        style="width: 100px; height: 100px;" alt="">
                                    <div class="w-100 mb-2">                                    
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <p class="mb-2" style="font-size: 14px;">{{ formattedUpdatedAt }}</p>
                                                <h5>{{ User.firstName }} {{ User.lastName }}</h5>
                                            </div>
                                            {{{ createStarList stars }}}
                                        </div>
                                        <p>{{ review }}</p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor
                                    sit. Aliqu diam
                                    amet diam et eos labore. 3</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                        </div>
                    </div>
                    {{#if ../isLoggedIn}}
                    <form action="/users/{{id}}/review" method="post">
                        <h4 class="mb-4 fw-bold">Leave a Review</h4>
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea name="review" id="" class="form-control border-0" cols="30" rows="8"
                                        placeholder="Your Review *" spellcheck="false" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 me-3">Please rate:</p>
                                        <div class="d-flex align-items-center" style="font-size: 30px;">
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                            <i class="fa fa-star star"></i>
                                        </div>
                                        <input type="hidden" name="stars" id="stars-input" value="0">
                                    </div>
                                    <button type="submit" class="btn border border-secondary text-primary rounded-pill px-5 py-3">
                                        POST</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{else}}
                    <h4 class="mb-2 fw-bold">Leave a Review</h4>
                    <p>Share your thoughts with other customers</p>
                    <a href="/users/login-sign-up?reqUrl=/shop/{{id}}" class="col-3 btn btn-light my-1 mx-3 border-secondary rounded-pill py-2">
                        Login and review
                    </a>
                    {{/if}}
                    {{/with}}
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <form class="input-group w-100 mx-auto d-flex" action="/shop" method="GET">
                            <input type="search" class="form-control p-3" placeholder="Search" name="keyword"
                                value="{{keyword}}" aria-describedby="search-icon-1" required>
                            <button id="search-icon-1" class="input-group-text p-3"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>
                    {{> sidebar}}
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Similar games</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                {{#each relatedProducts}}
                <div style="height: 500px">
                    {{> recentProduct}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->

<script>
    const stars = document.getElementsByClassName("star");
    const starsInput = document.getElementById("stars-input");
    for (let i = 0; i < stars.length; i++) {
        stars[i].addEventListener("click", function () {
            for (let j = 0; j < stars.length; j++) {
                stars[j].classList.remove("text-primary");
            }
            for (let j = 0; j <= i; j++) {
                stars[j].classList.add("text-primary");
            }
            starsInput.value = i + 1;
        });
    }
</script>